# Pastas de build e cache do PlatformIO
.pio/
.vscode/

# Configurações específicas de sistema
.DS_Store

# O que você já tinha (mantenha se quiser)
.browse.c_cpp.db*
c_cpp_properties.json
launch.json
ipch